<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="System.Windows.Forms.ApplicationConfigurationSection" type="System.Windows.Forms.ApplicationConfigurationSection, System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
